<% title "Blog" %>

<section id="blog-header" class="has-bg-pic">
  <div class="pg-title">
      <h3>My thoughts and</h3>
      <h1>BLOG POSTS</h1>
  </div>
</section>

<section id="blog-gallery" class="auto-height text-center">
  <% if admin? %>
      <button class="centered"><%= link_to "New Post", new_blog_post_path %></button>
    <% end %>
  <div class="row">
    <%= render @blog_posts %>
  </div>

  <%= javascript_tag do %>
    window.post_count = <%= BlogPost.all.count %>
  <% end %>

  <div class="load-more-div">
    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
    <%= link_to "Older posts", blog_posts_path, class: "load-more" %>
  </div>
</section>