<% title "Blog" %>

<section id="blog-header" class="has-bg-pic">
  <div class="pg-title">
      <h3>My thoughts and</h3>
      <h1>BLOG POSTS</h1>
  </div>
</section>

<section id="blog-gallery" class="auto-height">
  <% if admin? %>
      <button class="centered"><%= link_to "New Post", new_blog_post_path %></button>
    <% end %>
  <div class="row">
    <% @blog_posts.each do |post| %>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <%= link_to(post)  do %>
            <div class="panel-thumbnail">
              <%= image_tag("#{post.photo}") %>
              <p><%= post.title %></p>
            </div>
            <div class="panel-body">
              <%= truncate(post.body, length: 120) %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>