<nav class="navbar navbar-light navbar-fixed-top">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>

  <div class="jq-fadein">
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to 'FARDIN KHANJANI', root_path, class: 'navbar-brand logo' %>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to "About", about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Blog", blog_index_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Resume/CV", resume_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Contact", contact_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>

</nav>