 <header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "FARDIN KHANJANI", '/', class: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Blog", blogs_path %></li>
        <li><%= link_to "Resume/CV", resume_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>