<% title "Home" %>

<section id="intro" class="has-bg-pic">
  <h1>Hey. My name is Fardin. You can call me Freddie</h1>
  <div class="intro">
      <%= link_to "My story",about_path, class:"intro-btn" %>
      <%= link_to "My resume",resume_path, class:"intro-btn" %>
  </div>
</section>

<section id="nutshell" class="auto-height">
  <div>
    <h1>In a nutshell</h1>
    <p>I have a passion for coding and learning new things. At the moment I am learning two new languages, Hungarian and Swedish, I'm practicing coding and studying at university at the same time</p>
  </div>
</section>

<section id="blog-gallery" class="auto-height text-center">
  <h1>Blog posts</h1>
  <div class="row">
  <%= render @blog_posts %>
    <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
    <%= link_to "Load More", blog_posts_path, class: "load-more" %>
  </div>

  <div class="load-more-container">

  </div>
</section>

<section id="say-hello" class="auto-height text-center">
  <%= link_to "Something interesting? Say hello!", contact_path, class:"say-hello-btn" %>
</section>